.gameStateControl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.881);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  z-index: 9999;
}

#gameStateControl {
  display: none;
}
.timeOutMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.timeOutMessage img {
  width: 100px;
  height: auto;
}

.gameStateMessage {
  font-size: 2.2rem;
  font-weight: bold;
  color: #00c4b4;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.gameControlButton {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding: 1rem 2rem;
  background-color: #007bff;
  border-radius: 0.5rem;
  color: #d9d9f4;
  cursor: pointer;
}

#trophy {
  display: none;
}

.gameControlButton:hover {
  background-color: #007bffc7;
}

.rotate {
  animation: spinHourGlass 1s ease-out;
}

.messageAnimation {
  animation: animate 2s 1 ease;
}

.replayButtonAnimtion {
  animation: buttonAnimtion 3s 1 ease;
}

.blurContianer {
  animation: containerAnimtion 2s 1 ease;
}

@keyframes containerAnimtion {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes buttonAnimtion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    font-size: 1.2rem;
  }
  100% {
    opacity: 1;
    font-size: 2.2rem;
  }
}

@keyframes spinHourGlass {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(180deg);
  }
}

@media (max-width: 734px) {
  .timeOutMessage img {
    width: 50px;
  }

  .gameStateMessage {
    font-size: 1.2rem;
    animation: animate 2s 1 ease;
  }

  @keyframes animate {
    0% {
      opacity: 0;
      font-size: 0.2rem;
    }
    100% {
      opacity: 1;
      font-size: 1.2rem;
    }
  }

  .gameControlButton {
    font-size: 0.9rem;
    padding: 0.7rem 1.5 rem;
  }
}

.bounceTrophy {
  animation: bounce 1s ease;
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
